<%= form_for @robot, url: robots_path, html:{class: "formRobo"} do |f| %>
  <fieldset class="border p-2">
    <legend class="w-auto">Create your favorite Robot</legend>
  <div class="form-group">
   <label for="name">Name</label>
   <%= f.text_field :name, class:"form-control", id:'name' %>
  </div>
  <div class="form-group">
   <label for="name">Address</label>
   <%= f.text_field :address, class:"form-control", id:'address' %>
  </div>
  <div class="form-group">
   <label for="name">Model Number</label>
   <%= f.text_field :modelNumber, class:"form-control", id:'modelNumber' %>
  </div>


  <div class="form-group">
   <label for="name">Laser</label>
    <div class="form-check form-check-inline">
    <%= f.radio_button :lasers, "true", :checked => true, class:"form-check-input", id:"inlineRadio1"  %>
    <label class="form-check-label" for="inlineRadio1">yes</label>
    </div>
    <div class="form-check form-check-inline">
    <%= f.radio_button :lasers, "false", class:"form-check-input", id:"inlineRadio2"  %>
    <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
  </div>
  
  <div class="form-group">
   <label for="name">Japanese</label>
    <div class="form-check form-check-inline">
    <%= f.radio_button :japanse, "true", :checked => true, class:"form-check-input", id:"inlineRadio1"  %>
    <label class="form-check-label" for="inlineRadio1">yes</label>
    </div>
    <div class="form-check form-check-inline">
    <%= f.radio_button :japanse, "false", class:"form-check-input", id:"inlineRadio2"  %>
    <label class="form-check-label" for="inlineRadio2">No</label>
    </div>
  </div>
    <%= f.submit  data: {:disable_with => false}, class: "btn btn-dark" %>
    </fieldset>
<% end %>